* {
  margin: 0;
  padding: 0;
  color: white;
  font-family: sans-serif;
  scroll-behavior: smooth;

}
::-webkit-scrollbar{
  width: 0;
  height:0;
}
body {
  background-color: rgb(22, 22, 22);
}

h1 {
  font-size: 55px;
}

p {
  font-size: 25.25px;
}

a {
  color: white;
  text-decoration: none;
}

li {
  list-style: none;
  margin-right: 20%;
  font-size: 20px;
}

section {
  position: relative;
  width: 100%;
  height: 100vh;
}

header {
  height: 15%;
  display: flex;
  justify-content: space-between;
  align-content: center;
}

#h_1 {
  width: 120px;
  margin-left: 1%;
}

#h_2 {
  display: flex;
  margin-right: 9%;
  margin-top: 2.5%;
}

section {
  position: relative;
}

.imagem {
  width: 42%;
  transition: transform 1s ease;
  transform: translateX(-100%);
  opacity: 0;
}

.ativo .imagem {
  transform: translateX(0);
  opacity: 1;
  transition: 1s;
}

html{
    scroll-behavior: smooth;
}

#meio {
  display: flex;
}

#img_sobre {
  width: 50%;
}

#txt_sobre {
  width: 40%;
  align-content: center;
  transition: opacity 1s ease;
}

#sobre_button {
  background-color: #ff0000;
  border: none;
  margin-top: 5%;
  width: 35%;
  padding: 3%;
}

#historia {
  background-color: rgb(32, 32, 32);
  width: 50%;
  height: 60vh;
}

#historia_1 {
  width: 200px;
}

#historia_2 {
  width: 400px;
}

#historia_1 li {
  font-size: 30px;
  margin-bottom: 15px;
}

#historia_2 li {
  font-size: 17px;
  margin-bottom: 10px;
}

#Habilidades {
  margin-top: 5%;
  margin-left: 3%;
}

#Habilidade_icones {
  width: 50%;
}

#Habilidade_icones img {
  width: 50px;
}

#linguas {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin-left: 5%;
  margin-top: 1%;
}

.botao-expandivel {
  margin-top: 10px;
  background-color: #ff0000;
  color: white;
  padding: 10px;
  border: none;
  font-size: 18px;
  text-align: start;
  border-radius: 8px;
  width: 50px;
  transition: width 0.6s ease;
}

#um {
  display: flex;
  flex-direction: column;
  width: 30%;
  margin-left: 2.5%;
  margin-top: 2%;
}

#um_1 {
  height: 30vh;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

#um_2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 40vh;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

.m{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width:80%;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  height: 20vh;
}

footer {
  text-align: center;
  background-color: rgb(37, 37, 37);
  color: white;
}

#contacto {
  display: flex;
  flex-direction: column;
}

video{
  width: 80%; border-radius: 10px;
}

@media (max-width:765px){
  section {
    height: 50vh;
  }

h1{
font-size: 20px;
  }

  #h_1 {
    width: 70px;
    margin-left: 1%;
  }

  #h_2 {
    display: flex;
    margin-right: 20%;
    margin-top: 2.5%;
  }


  #sobre p{
    font-size: 10px;
      }

      #historia{
        height:30%;
      }

      #historia_1 li {
        font-size: 10px;
      }
      
      #historia_2 li {
        font-size: 8px;
      }

      #Habilidades h2{
        font-size: 16px; 
      }
      #Habilidades h3,li{
  font-size: 10px;
      }
      
      #Habilidade_icones {
        width: 50%;
      }
      
      #Habilidade_icones img {
        width: 25px;
      }

      .meio{
        display: flex;
        flex-direction: column;
      }
      #trajectoria {
         height: 90vh;
        }

        #projectos{
          font-size: 10px;
          height: 65vh;
        }

        #um_1{
          height: 18vh;
        }
        #um_1 img{
         margin-top: 10%;
        }
        #um_1{
          height: 18vh;
        }
        #um_2 p{
          font-size: 10px;
        
        }
        .m p{
          font-size: 10px;
         
        }
        .m{
        width:100%;
        height: 34vh;
        }
        video{
          width:100%;
        }

        footer p{
font-size: 15px;
        }
}